<div class="row collapse">
  <div class="columns large-8 large-centered text-center page-title">
    <h1><%= t(".authenticate") %></h1>
    <p><%= t(".enter_access_code") %></p>
  </div>
</div>
<div class="columns large-4 medium-centered">
  <div class="card">
    <div class="card__content">
      <div class="columns medium-7 large-10 medium-centered">
        <%= decidim_form_for(@form, url: users_auth_sms_access_code_validation_path, method: :post) do |form| %>
          <div class="row">
              <%= form.text_field :access_code %>
          </div>
          <div class="row">
            <div class="columns large-centered">
              <%= form.submit t(".submit"), class:"button expanded" %>
            </div>
          </div>
        <% end %>
      </div>

      <p class="text-center">
        <%= link_to t(".return_to_sms_login"),  users_auth_sms_path %>
      </p>
    </div>
  </div>
</div>
