<div class="content">
  <div class="wrapper">
    <div class="row">
      <div class="columns large-10 large-centered text-center page-title margin-top-1">
        <h1><%= current_user ? t(".authenticate") : t(".sign_in") %></h1>
        <h2><%= t(".step_two") %> - <%= t(".enter_verification_code") %></h2>
        <p><%= t(".enter_verification_message_html", phone: current_phone_number) %></p>
        <% if user_signed_in? && current_user.phone_number.present? %>
          <p>
            <%= t(".wrong_number") %>
            <br>
            <%= link_to t(".change_number"), users_auth_sms_edit_path %>
          </p>
        <% else %>
          <p>
            <%= t(".wrong_number") %>
            <br>
            <%= link_to t(".change_number"), users_auth_sms_path %>
          </p>
        <% end %>
        <p><%= t(".enter_code_below") %></p>
      </div>
      <div class="row">
        <div class="columns medium-10 mediumlarge-8 large-6 medium-centered">
          <%= decidim_form_for(@form, url: current_user ? users_auth_sms_update_path : users_auth_sms_authenticate_user_path, method: :post) do |form| %>
            <div class="card">
              <div class="card__content">
                <%= render partial: "development_hint" if Rails.env.development? || Rails.env.test? %>
                <%= form.text_field :verification, autocomplete: "off" %>

                <%= form.submit t(".submit"), class:"button expanded" %>
              </div>
            </div>
          <% end %>

          <p class="text-center">
            <%= t(".did_not_receive") %>
            <br>
            <%= link_to t(".resend_code"), users_auth_sms_resend_code_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
