<% add_decidim_page_title(t(".generate_codes")) %>

<div class="wrapper">
<div class="row collapse">
  <div class="row">
    <div class="columns large-6 medium-10 medium-centered">
      <%= decidim_form_for(@form, url: signin_codes_path, method: :post) do |f| %>
        <div class="card">
          <div class="card__content">
          <div class="card-section">
            <div class="field">
              <%= f.select :school, school_options, { id: "school", include_blank: true } %>
            </div>
            <div class="field">
              <%= f.number_field :grade %>
            </div>
            <div class="field">
              <%= f.number_field :generate_code_amount %>
            </div>
          </div>
          </div>
        </div>
        <div class="button--double form-general-submit large-3">
          <%= f.submit t(".generate"), class: "button expanded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
