<% add_decidim_page_title(t(".generate_codes")) %>
<div class="card-divider">
  <h2 class="card-title">
    <%= t(".title") %>
    <%= link_to t(".cancel"), signin_codes_path, class: "button tiny button--title hollow" %>
  </h2>
</div>

<div class="row">
  <div class="columns large-6 medium-10 medium-centered">
    <%= decidim_form_for(@form, url: signin_codes_path, method: :post) do |f| %>
      <div class="card">
        <div class="card__content">
          <div class="card-section">
            <div class="field">
              <%= f.select :school, school_options, { id: "school", include_blank: true } %>
            </div>
            <div class="field">
              <%= f.number_field :grade %>
            </div>
            <div class="field">
              <%= f.number_field :generate_code_amount %>
            </div>
          </div>
        </div>
      </div>
      <div class="button--double form-general-submit">
        <%= f.submit t(".generate"), class: "button" %>
      </div>
    <% end %>
  </div>
</div>
