<% add_decidim_page_title(t(".access_codes")) %>
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".access_codes") %>
      <% if @codes %>
        <%= link_to t(".download_as_csv"), generate_csv_file_path(codes: @codes, format: :csv), class: "button tiny button--title" %>
        <%= link_to t(".download_as_xlsx"), generate_xlsx_file_path(codes: @codes, format: "xlsx"), class: "button tiny button--title" %>
      <% end %>
    </h2>
  </div>
  <div class="card-section">
    <% if @codes %>
      <p><%= @expiration_info %></p>
    <% end %>
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th class="float-left"><%= t(".access_code") %></th>
          </tr>
        </thead>
        <tbody>
          <% @codes&.each do |code| %>
            <tr>
              <td class="float-left"><%= code %><br></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <%= link_to t(".continue"), signin_code_sets_path, class: "button" %>
  </div>
</div>
